<?xml version="1.0"?>

<launch>

  <!-- Run AMCL -->
  <!--  AMCL is really making things loopy with the map. Works better without when in simulation, need for bag playback?. 
       <include file="$(find rbot280)/launch/wamv_amcl.launch" /> -->

  <arg name="cmd_vel_topic" default="/cmd_vel" />
  
  <!-- Run move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
    <rosparam file="$(find rbot280)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find rbot280)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find rbot280)/params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find rbot280)/params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find rbot280)/params/global_planner_params.yaml" command="load" />
    <rosparam file="$(find rbot280)/params/move_base_params.yaml" command="load" />
    <rosparam file="$(find rbot280)/params/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find rbot280)/params/teb_local_planner_params.yaml" command="load" /> 
    <rosparam file="$(find rbot280)/params/base_local_planner_params.yaml" command="load" />
            
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)" />    
  </node>

  <!-- launch wamv control -->
       <include file="$(find rbot280)/launch/wamv_control.launch" /> 
  <!-- This package is more for gazebo only. Need to write my own controller here I think
  <rosparam file="$(find rbot280)/params/control.yaml" command="load" />
  <node name="wamv_base_controller_spawner" pkg="controller_manager" type="spawner"
	output="screen" args="wamv_velocity_controller"/> -->
  
</launch>
