<?xml version="1.0"?>

<launch>                                                                                                                        
                                                                                                                                
  <arg name="bag_file" default="/home/mikedef/data/obstacle-buoys.bag" />                
  <arg name="start" default="0" />                       
  <node pkg="rosbag" name="play" type="play"
	args="--clock -l -s $(arg start) $(arg bag_file)" />                   

  <arg name="rviz_config" default="$(find rbot280)/rviz/wamv_.rviz" />                                 
  <node pkg="rviz" type="rviz"                                                                           
        name="wamv_visualization" args="-d $(arg rviz_config)" />

  <!-- launch lidar clustering for the cameras fov-->                                                                    
  <!-- 
  <group ns="lidar_clustering_center_camera_fov">                                                                
    <include                                                                                                
        file="$(find pointcloud_cluster_detect)/launch/pointcloud_cluster_detect.launch">                 
      <arg name="pc_topic" value="/wamv/sensors/lidars/lidar_wamv/points"/>
      <arg name="filter_camera_view" value="true"/>
      <arg name="camera_hfov" value="80" />
      <arg name="camera_theta" value="0.0" />
      <arg name="filter_cloud" value="true"/>                            
      <arg name="remove_points" value="1.0"/>                                                
      <arg name="downsampled_cloud" value="true"/>                                        
      <arg name="leaf_size" value="0.05"/>                                             
      <arg name="clustering_distance" value="1.0"/>                            
      <arg name="cluster_size_min" value="5"/>                                                              
      <arg name="cluster_size_max" value="60"/>                                                           
      <arg name="cluster_seg_thresh" value="1.0"/>                                                              
      <arg name="drop_cluster_count" value="10"/>
      <arg name="viz" value="true"/>                                                                                 
    </include>                                                                               
  </group>
  -->

  <node name='image_throttler' type='throttle' pkg='topic_tools'
	args='messages /wamv/sensors/cameras/front_center_camera/image_raw 10.0 /wamv/sensors/cameras/front_center_camera/image_raw/throttled' />
  
  <arg name='darknet_py' default='true' />
  <node name="rbot_280_classification" pkg="rbot280_detect" type="darknet_node2.py"                                       
        required="true" output="screen" if="$(arg darknet_py)">                                                                 
    <remap from="~0/input"                                                                                                  
           to="/wamv/sensors/cameras/front_center_camera/image_raw/throttled" />

    <!--                                                                                                                   
        <remap from="~1/input" to="$(arg camera1_image_topic)" />                                                              
        <remap from="~2/input" to="$(arg camera2_image_topic)" />                                                             
    -->                                                                                                                             
    <rosparam>                                                                                                                  
      n_inputs: 1                                                                                                       
                                                                            
      classes: [boat] <!-- Not used -->  
      
      darknet_config_file: "/home/mikedef/data/yolo/yolov4.cfg"                                                                  
      darknet_weights_file: "/home/mikedef/data/yolo/yolov4.weights"                                                             
      darknet_data_file: "/home/mikedef/data/yolo/coco_model.data" 
      <!--                                                                                                                      
      darknet_config_file: "/home/mikedef/data/yolo/darknet/cfg/yolov3.cfg"                                                               
      darknet_weights_file: "/home/mikedef/data/yolo/yolov3.weights"                                                            
      darknet_data_file: "/home/mikedef/data/yolo/coco_model.data" -->                                                                  
      darknet_thresh: 0.2  <!-- 0.4 -->                                                                                                   
      darknet_hier_thresh: 0.4                                                                                                
      darknet_nms: 0.35                                                                                                        
      use_sim_time: "true"  <!-- needed for gazebo? -->                                                                    
    </rosparam>                                                                                                              
  </node>
  
  <!-- launch rviz, static joint transforms, revolute joint static transforms 
  <include file="$(find wamv_gazebo)/launch/rviz_vrx.launch" />  -->                                                          
                                                                                                                                        
  <!-- launch robot_localization 
       <include file="$(find wamv_gazebo)/launch/localization_example.launch" /> -->

  <!-- Load robot model 
  <arg name="urdf" default="$(find rbot280)/config/my_wamv.urdf"/>
  <arg name="thrust_config" default="H" />
  <arg name="camera_enabled"       default="true" />                                                                                   
  <arg name="gps_enabled"          default="true" />                                                                                   
  <arg name="imu_enabled"          default="true" />                                                                                   
  <arg name="lidar_enabled"        default="true" />                                                                                   
  <arg name="ground_truth_enabled" default="true" />
  <arg name="namespace" default="wamv"/> 

  <param name="$(arg namespace)/robot_description"                                                                                      
         command="$(find xacro)/xacro &#x002D;-&#x002D;-inorder '$(arg urdf)'                                                           
         thruster_config:=$(arg thrust_config)                                                                                          
         camera_enabled:=$(arg camera_enabled)                                                                                          
         gps_enabled:=$(arg gps_enabled)                                                                                                
         imu_enabled:=$(arg imu_enabled)                                                                                                
         lidar_enabled:=$(arg lidar_enabled)                                                                                            
         ground_truth_enabled:=$(arg ground_truth_enabled)                                                                              
         namespace:=$(arg namespace) "/>    
  -->
</launch> 
